@media (max-width:676px) {
	.menu {
		width: 90%;
	}

	.header-btn .btn1 {
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 100px
	}

	.my-navbar .navbar-toggler {
		margin-top: 10px;
		width: 100%;
	}

	.my-navbar .navbar-toggler-icon {
	    background-image: url('../images/menu.svg');
	}

	.publish-card {
		text-align: center;
	}

	#tabs .nav-tabs .nav-link {
		margin-bottom: 10px;
		padding: 5px 10px;
	}
}
